<html>
  <body>
    <div>{{title}}</div>
    <div>
      <select id="thingsList">
        {{#each things}}
          <option value="{{this.thingName}}">{{this.thingName}}: {{this.attributes.Whose}}</option>
        {{/each}}
      </select>
    </div>
    <div>
      <div>
        {{#each actions}}
          <button onclick="command('{{@key}}')">{{@key}}</button>
        {{/each}}
      </div>
    </div>
    <div class="msg"></div>
  </body>
  <script>
    var selected = '{{selected}}';
    var msg = document.querySelector('.msg');

    document.querySelector('#thingsList').onchange = function(e) {
      selected = e.target.value;
      console.log('selected', selected);
    }

    function command(action) {
      fetch(
        `/shadows/${selected}/${action}`, 
        {
          method: 'POST'
        }
      ).then(res => res.json())
      .then(json => addMsg('green', `${action} successful`))
      .catch(e => addMsg('red', `${action} failed`));
    }

    function addMsg(color, message) {
      msg.textContent = message;  
      if (color === 'red') {
        msg.classList.remove('green');
        msg.classList.add('red');
      } else {
        msg.classList.remove('red');
        msg.classList.add('green');
      }
    }
  </script>
  <style>
    .msg {
      border-radius: 5px;
    }
    .red {
      border: 1px solid red;
      color: red;
    }
    .green {
      border: 1px solid green;
      color: green;
    }
  </style>
</html>
